{% extends 'base.html.twig' %}

{% block title %}
    Weather Clothing Application
{% endblock %}

{% block body %}
    All forecast results were formed using <a href="https://api.meteo.lt">LHTM (Lithuania Hitrometrology) API data</a>
{% endblock %}